#Files
*.html
log.html
report.html
*.pyc
.vs
agent.zip
*.log
*screenshot*.png
*screenshot*.jpg
playwright-log.txt
.vscode

.idea
.pabotsuitenames
interactive_console_output.xml
output.xml

koaSpec.json

#Folders
src
browser
results
__pycache__
system